<!DOCTYPE html>
<!--[if lte IE 8 ]><html lang="en" class="no-js ie-lte-8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<style>@font-face{font-family:'OmnesMedium';src:url('{{ MEDIA_URL }}fonts/omnesmed.eot');src:local('☃'),url('{{ MEDIA_URL }}fonts/omnesmed.ttf') format('truetype');font-weight:normal;font-style:normal;}</style>
	
	<title>{% block title %}eBay Sales Academy. The hub for enterprise sales{% endblock %}</title>
	
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/jqui.css"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/base.css"/>
	{% comment %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/basemin.css"/>
	{% endcomment %}
	<script>document.documentElement.className += ' js'</script>
</head>
<body class="{% block html_classes %}{% endblock %}">
	{% block body_content %}
        {% include "masthead.html" %}
		<div class="main-header">
			<p><a href="{% url homepage %}">Ebay Sales Academy. The hub for enterprise sales</a></p>
		</div>
		<div class="page">
			<div class="main-nav">
				{% include "navigation.html"%}
			</div>	
			<div class="article">
				{% block content %}{% endblock %}
			</div>
			<div class="article-end"></div>
		</div>
		
		<div class="footer">
			<div class="footer-inner">
				<h1>Footer</h1>
				{% if user.is_authenticated %}
					<ul>
						<li class="first"><a href="{% url homepage %}">Home</a></li>
						<li><a href="{% url training_index %}">Training</a></li>
						<li><a href="{% url tools_featured %}">Tools</a></li>
						<li><a href="{% url partners_list %}">Partners</a></li>
						<li><a href="{% url profiles_profile_detail user.username %}">Profile</a></li>
						<li><a href="{% url logout %}" class="logout">Logout</a></li>
					</ul>
				{% endif %}
				<div class="legal">
					<p id="eBaySales">eBay Sales Academy</p>
					<p class="maintained"><small>Maintained by eBay EU Enterprise Sales Team</small></p>
					<p class="copyright"><small>&copy; Copyright eBay {% now  "Y" %}</small></p>
				</div>
			</div>
		</div>
		
	{% endblock %}
	{% block body_script %}
			<script src="{{MEDIA_URL}}scripts/jquery-1.4.3.js"></script>
			<script src="{{MEDIA_URL}}scripts/jquery-ui-1.8.8.js"></script>
			<script src="{{MEDIA_URL}}scripts/ScrollPane.js"></script>
			<script src="{{MEDIA_URL}}scripts/base.js"></script>
		{% comment %}
			<script src="{{MEDIA_URL}}scripts/mainmin.js"></script>
		{% endcomment %}
		
		<!--[if IE 6]>
				<script src="{{MEDIA_URL}}scripts/belatedpng.js"></script>
				<script src="{{MEDIA_URL}}scripts/pngfixes.js"></script>
			{% comment %}
			<script src="{{MEDIA_URL}}scripts/mainie6min.js"></script>
			{% endcomment %}
		<![endif]-->
	{% endblock %}
                {% if GA_ENABLED %}
                {% include "analytics.html" %}
                {% endif %}
</body>
</html>
