{% extends "scout/base.html" %}
{% load i18n scout_humanize %}

{% block meta %}
    {{ block.super }}
    <meta http-equiv="refresh" content="30" />
{% endblock %}

{% block content %}
    {% if projects %}
    <h2>{% trans 'Last Monitoring Update' %}: {{ last_update|naturaltime }} @ {{ last_update|date:"jS M Y H:i" }}.</h2>
        <ul class="project-list">
            {% for project in projects %}
                <li class="{{ project.working|yesno:"up,down" }}">
                    <div class="project">
                        {% if project.client.image %}
                            <img class="client-image" src="{{ project.client.image.url }}" />
                        {% endif %}
                        <h3>{{ project.client.name }} - {{ project.name }}</h3>
                        <div class="project-status"></div>
                    </div>
                    <div class="extra-details">
                        {% if project.working %}
                            <h4>Last error: {{ project.last_log.date_added|naturaltime }}. Last checked {{ project.date_updated|naturaltime }}.</h4>
                        {% else %}
                            <h4>Alert raised {{ project.last_log.date_added|naturaltime }}. Last checked {{ project.date_updated|naturaltime }}.</h4>
                        {% endif %}
                        <table class="tests">
                            <col class="url" />
                            <col class="status_codes" span="2" />
                            <col class="date" />
                            <tr>
                                <th>{% trans 'URL' %}</th>
                                <th>{% trans 'Expected' %}</th>
                                <th>{% trans 'Returned' %}</th>
                                <th>{% trans 'Last changed' %}</th>
                            </tr>
                            {% for test in project.tests.all %}
                                <tr class="{{ test.last_log.is_error|yesno:"down,up" }}">
                                    <td><a href="{{ test.url }}">{{ test.url }}</a></td>
                                    <td>{{ test.last_log.expected_status }}</td>
                                    <td>{{ test.last_log.returned_status }}</td>
                                    <td>{{ test.last_log.date_added|date:"jS M Y H:i" }}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>{% trans 'There are currently no projects to monitor' %}.</h2>
    {% endif %}
{% endblock %}
