{% extends "scout/base.html" %}

{% block content %}
    {% if projects %}
        <h2>Monitoring. Last Update: Today 12:55pm</h2>
        <ul class="project-list">
            {% for project in projects %}
                <li class="{{ project.working|yesno:"up,down" }}">
                    {% if project.client.image %}
                        <img class="client-image" src="{{ project.client.image.url }}" />
                    {% endif %}
                    <h3>{{ project.client.name }} - {{ project.name }}</h3>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <h2>There are currently no sites to monitor.</h2>
    {% endif %}
{% endblock %}
