{% extends "scout/base.html" %}
{% load scout_humanize %}

{% block meta %}
    {{ block.super }}
    <meta http-equiv="refresh" content="60" />
{% endblock %}

{% block content %}
    {% if projects %}
    <h2>Last Monitoring Update: {{ last_update|naturaltime }} @ {{ last_update|date:"jS M Y H:i" }}.</h2>
        <ul class="project-list">
            {% for project in projects %}
                <li class="{{ project.working|yesno:"up,down" }}">
                    {% if project.client.image %}
                        <img class="client-image" src="{{ project.client.image.url }}" />
                    {% endif %}
                    <h3>{{ project.client.name }} - {{ project.name }}</h3>
                    <div class="project-status"></div>
                    <div class="extra-details">
                        <h4>Running {{ project.tests.all.count }} tests; Last ran: {{ project.date_updated|date:"jS M Y H:i" }}.</h4>
                        <ul class="test-list">
                            {% for test in project.tests.all %}
                                {{ test }}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <h2>There are currently no sites to monitor.</h2>
    {% endif %}
{% endblock %}
